        body{
        	background-color: lightgoldenrodyellow;
        }
		h1{ 
		font-size: 40px;
		color: teal;
	} 

	    h2{ font-size: 30px
	    	color: red;
	    }
	    .big{
	    	font-size: 60px;
	    }
	    .goody{
	    	text-transform: uppercase;
	    }
	    .big.goody{
	    	color: navy;
	    }
	    h1 span{ 
	    	color:violet;
	     }
	</style>	